---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
		</style>
	</head>
	<body class="flex flex-col items-center dark:text-gray-100 dark:bg-gray-900">
		<Header />
		<main>
			<content>
				<ul class="list-none">
					{posts.map((post) => (
						<li class="my-5">
							<p class="font-bold font-mono text-xs"><time datetime={post.frontmatter.pubDate}>
								{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
									year: 'numeric',	
									month: 'short',
									day: 'numeric',
								})}
							</time>
							&bull;
							<span>{post.frontmatter.author ?? "Aleks Rutins"}</span>
							</p>
							<a href={post.url} class="text-3xl font-serif block">{post.frontmatter.title}</a>
						</li>
					))}
				</ul>
			</content>
			<Footer />
		</main>
	</body>
</html>
